---
import {ListaProyecto} from './ListaProyecto';
import { IconProyect } from '../icon/iconProyect';
import { proyectos } from '../ListProyect';
import { ButtonUrl } from '../ComButton/buttonUrl';
---
<section  class="flex flex-col gap-6 ">
    <div class="inline-flex gap-3 items-center text-white justify-center text-center  ">
        <IconProyect estilo={"size-7 hidden lg:block"} />
        <h2 class="text-2xl font-Montserrat font-black">PROYECTOS PRINCIPALES</h2>
    </div>
    
    <ListaProyecto client:load Proyectos={proyectos} limit={3} />
    <ButtonUrl  url={"/ListaProyectos"} text={"Ver más"} />
</section>