---
const resaltarTexto = " text-yellow-200  tracking-wide ";
import { Logo } from "../icon/logo";
---
<article class="relative flex flex-wrap-reverse lg:items-end  h-screen lg:h-auto justify-center  overflow-hidden gap-x-3 ">
  <div class=" lg:w-[50%] z-40  text-lg  flex flex-col  justify-center lg:justify-normal space-y-5  mt-16 lg:mt-24   p-4 lg:p-0  bg-gradient-to-tl lg:from-transparent from-black to-transparent to-65%">
      <h1 class=" text-4xl lg:text-5xl text-white font-black tracking-wide  drop-shadow-Titulo  uppercase ">
        ¡Hola!
        <span class="block py-1 ">Soy  Andres  </span>
      </h1>
      <p class="text-secundario tracking-wide ">
        Soy un estudiante apasionado por el <span class={resaltarTexto}>desarrollo web </span>.
      </p>
      <p class="text-secundario tracking-wide  ">
        Disfruto transformando ideas en <span class={resaltarTexto}
          >interfaces atractivas</span
        > y funcionales, mientras aprendo a dominar el arte de la <span
          class={resaltarTexto}>experiencia de usuario</span
        >.
      </p>
      <p class="text-secundario tracking-wide  font-bold ">
        Estoy construyendo mi camino paso a paso, y esto es solo el comienzo.
      </p>
    
    </div>
    <!-- mejorar -->
    <div class=" lg:w-[35%] overflow-hidden  ">
      <img class=" absolute lg:static  w-full h-full  object-contain  lg:mt-[-90px] left-16  bottom-32" src="https://res.cloudinary.com/dleem7osr/image/upload/v1737570593/FotoUser_rug4d0.webp" alt="">
    </div>
</article>


