---
import AboutJourney from "./AboutJourney.astro"
import AboutSkils from "./AboutSkils.astro"
import AboutSoftSkill from "./AboutSoftSkill.astro"
import AboutIdioma from "./AboutIdioma.astro"
import AboutPeru from "./AboutPeru.astro"
import AboutContacto from "./AboutContacto.astro"
import AboutEducacion   from "./AboutEducacion.astro"
---
<section class="lg:grid grid-rows-12 grid-cols-5 gap-4 flex flex-col mx-4  ">
    <AboutJourney />
    <AboutSkils />
     <AboutSoftSkill/>
      <AboutIdioma />
      <AboutPeru />
      <AboutEducacion/>
     <AboutContacto/>
   
</section>