---
const habilidades = [
  "Comunicación efectiva",
  "Trabajo en equipo",
  "Empatía",
  "Gestión del tiempo",
  "Adaptabilidad"
];
---

<div
  class="row-span-3 col-span-2 border-1 border-gray-500 bg-transparent/35 p-5 rounded-lg"
>
  <h3 class="text-white font-black uppercase ">
    Habilidades blandas
  </h3>
  <ul class="flex flex-wrap gap-2 pt-3">
    {
      habilidades.map((habilidad) => (
        <li class="inline-flex  space-x-2 items-center text-[11px]     px-3   py-2 rounded-lg  border-1 border-gray-600 text-secundario">
           {habilidad}
        </li>
      ))
    }
  </ul>
</div>
