<div class="row-span-2 col-span-2 border-1 border-gray-600 bg-transparent/35 p-5 rounded-lg space-y-1">
    <h3 class="text-white font-black uppercase text-sm">Educación y Formación</h3>
    <p class="text-secundario text-sm">Actualmente me encuentro  estudiando <span class="text-yellow-200">Ingeniería de Sistemas</span> , persiguiendo mi pasión por el desarrollo tecnológico</p>
</div>