<div class="row-span-6 col-span-3  break-words border-1 border-gray-600 bg-transparent/35 p-5 rounded-lg">
  <h3 class="text-white font-black uppercase text-lg ">Informacion Extra</h3>
  <p class="text-secundario  tracking-wide py-2 lg:text-base text-sm">
    Mi pasi칩n
    por el desarrollo web comenz칩 en la universidad en el a침o 2023. Desde
    entonces, me he dedicado a explorar y aprender sobre este fascinante mundo.
    El camino de mi aprendizaje no ha sido f치cil, ya que la mayor parte de mis
    conocimientos los he adquirido de forma autodidacta, invirtiendo tiempo y
    esfuerzo en investigar y practicar por mi cuenta.
  </p>
</div>
