---
import { RedSocial } from "../redSocial/RedSocial";
---
<div class="row-span-2 col-span-5 flex items-center justify-center border-1 border-gray-600 bg-transparent/35 p-5 rounded-lg">
    <RedSocial/>
  </div>