---
import {IconDowld} from '../icon/IconDowld'
---

<div class="flex flex-wrap justify-center gap-4  text-sm">
  <a
    href="https://www.linkedin.com/in/andres1234/"
    class="relative w-60 flex justify-center items-center gap-2  py-3 space-x-2 rounded-full    text-white border-1 border-gray-700  bg-white/10   "
  >
  <div class="relative flex size-3">
    <span class="relative z-40 inline-flex rounded-full size-3 bg-yellow-400 "></span>
    <span class="absolute  rounded-full size-3 bg-yellow-300/80 animate-ping "></span>
  </div>

    <span >Disponible para trabajar </span>
  </a>
  <!-- descargar Cv -->
  <a
    href="https://drive.google.com/file/d/17rtL3lmld8X-Imw5w0ltDUB56VhK4o-Q/view?usp=sharing"
    target="_blank"
    class=" w-60 group  flex items-center justify-center gap-2  py-3 rounded-full text-white bg-yellow-400/20 border-1 border-yellow-500 "
  >
   <span class="group-hover:hidden animate-fade-in">Descargar CV</span> 
    <span class="hidden group-hover:block animate-tada "><IconDowld /></span>

  </a>
</div>
