---
import {IconDowld} from '../icon/IconDowld'
---

<div class="flex flex-wrap gap-4 justify-center text-sm">
  <a
    href=" "
    class="relative text-white py-3 w-60 rounded-full items-center gap-2 border-1 border-gray-700 flex justify-center space-x-2 bg-white/10   "
  >
    <span class="relative inline-flex rounded-full h-3 w-3 bg-yellow-400 animate-pulse "></span>
    <span class="">Disponible para trabajar  </span>
  </a>
  <a
    href="https://drive.google.com/file/d/1fCs7LR8MMAjCCjiCAC1_PWnGmwiLvAjT/view?usp=sharing"
    target="_blank"
    class="text-white py-3 w-60 rounded-full flex items-center justify-center gap-2 bg-yellow-400/20 border-1 border-yellow-500 group"
  >
   <span class="group-hover:hidden animate-fade-in">Descargar CV</span> 
    <span class="hidden group-hover:block animate-tada "><IconDowld /></span>

  </a>
</div>
