---
import { RedSocial } from "../redSocial/RedSocial";
import { Logo } from "../icon/logo";
import BotonDispo from "../About/BotonDispo.astro";
---

<section class="flex justify-center lg:h-[70dvh] flex-col text-white gap-y-4 items-center font-Montserrat animate-fade-in-up text-center">

      <Logo styleLogo={"w-72 lg:w-80 animate-bounce-fade-in"} />
    <h1 class="text-3xl lg:text-5xl  font-black uppercase drop-shadow-Titulo">
      Andres Velasquez
    </h1>
    <h4 class="text-lg lg:text-xl text-yellow-200  font-bold ">
      Full - Stack Engineer
    </h4>
    <p class="max-w-3xl text-secundario text-base lg:text-lg mx-auto  text-center">
      Diseño y creo experiencias digitales para la web, enfocándome en la
      accesibilidad y en cada detalle de píxeles .
    </p>

    <RedSocial />
    <BotonDispo />
</section>
