---
import Layout from '../layouts/Layout.astro';
import { Navbar } from '../components/Navbar/navbar';
import Footer from '../components/Footer/footer.astro';
import AboutHeader from '../components/About/AboutHeader.astro';
import AboutContent from '../components/About/AboutContent.astro';

---


<Layout title=" Info | Andres Velasquez ">
	<header class="relative ">
		<Navbar client:idle />
		<main class="mx-auto  max-w-screen-xl  min-h-screen   lg:px-24  lg:mt-16 lg:pb-24 animate-fade-in-up ">
            <AboutHeader  />
			<AboutContent />
		</main>
	</header>
	<Footer/>
</Layout>

