---
import Layout from "../layouts/Layout.astro";
import { Navbar } from "../components/Navbar/navbar";
import InfoUser from "../components/About/InfoUser.astro";
import Experiencia from "../components/Experiencia/Experiencia.astro";
import Footer from "../components/footer.astro";
import Proyecto from "../components/Proyecto/Proyecto.astro";
import InfoCertificacion from "../components/Certificaciones/InfoCertificacion.astro";
import InfoPreguntas from "../components/Preguntas/InfoPreguntas.astro";
---

<Layout title=" Home | Andres Velasquez ">
  <header class="animate-blurred-fade-in relative">
    <Navbar client:idle />
    <main
      class="mx-auto min-h-screen flex flex-col gap-48  px-6 lg:mt-20 lg:pb-24"
    >
      <InfoUser />
      <Proyecto />
      <Experiencia /> 
      <InfoCertificacion />
      <InfoPreguntas />
    </main>
    <Footer />
  </header>
</Layout>
