---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar.astro';
import {ProyectInfo} from '../components/ProyectInfo.jsx';
---


<Layout title=" Info | Andres Velasquez ">
	<header class="">
		<Navbar />
	</header>
	<main class="mx-auto  max-w-screen-xl px-6   lg:px-24  lg:mt-16 lg:pb-24 ">
         <ProyectInfo client:load />
	</main>
</Layout>

