---
import Layout from "../layouts/Layout.astro";
import { Navbar } from "../components/Navbar/navbar";
import Footer from "../components/footer.astro";
import { ListaProyecto } from "../components/Proyecto/ListaProyecto";
import { proyectos } from "../components/ListProyect";
import { IconProyect } from "../components/icon/iconProyect";
---

<Layout title=" MisProyectos | Andres Velasquez ">
  <header class="relative">
    <Navbar client:idle />
    <main class="mx-auto px-6 lg:px-24 lg:mt-16 lg:pb-24 animate-fade-in-up">
      <div
        class="w-full inline-flex  items-center justify-center text-center gap-3 pb-8 text-white"
      >
      <IconProyect estilo={"size-7 hidden lg:block fill-yellow-400"} />
        <h2 class="text-2xl  font-black">
          PROYECTOS PRINCIPALES
        </h2>
      </div>
      <ListaProyecto client:load Proyectos={proyectos} limit={10} />
    </main>
  </header>
  <Footer />
</Layout>
