<div class="hidden bottom-5  left-[90%]  h-36 absolute  lg:block hover:translate-y-[-20px] transition-all duration-150 ease-in-out ">
    <a href="mailto:andresvelasquezarotinco.com" target="_blank">
        <img class="w-full h-full object-cover  hover:drop-shadow-5xl  " src="https://www.animatedimages.org/data/media/636/animated-star-wars-image-0061.gif" alt="">
    </a>
</div>