<footer class="inline-flex items-center justify-center gap-2 flex-col w-full text-white  h-40">
    <div class="w-12 lg:w-16 overflow-hidden">
        <img class="w-full h-full object-cover" src="https://res.cloudinary.com/dleem7osr/image/upload/v1734559843/imagen_2024-12-18_170959691-removebg-preview_lgpfrn.png" alt="Imagen de mi  logo" />
    </div>
    <p class="text-sm">© 2024 Andres. Casi todos los derechos reservados</p>
</footer>