---
import { Logo } from "./icon/logo";
---
<footer class="inline-flex items-center justify-center gap-2 flex-col w-full text-white  h-40 font-Montserrat">
    <div class="w-12 lg:w-16 overflow-hidden">
        <Logo styleLogo={"size-12"} />
    </div>
    <p class="text-sm">© 2024 Andres. todos los derechos reservados</p>
</footer>