
<nav class="w-[90%] lg:w-[22%] mx-auto text-sm font-medium   my-8  text-white  sticky top-1  lg:top-4  z-50  backdrop-blur-3xl bg-transparent/25 rounded-lg  ">
    <ul class="flex justify-center  items-center gap-5 lg:gap-7  py-2 mx-3 rounded-full   ">
        <li><a href="/" class=" hover:text-yellow-300" >Home</a></li>
        <li><a href="/#Experiencia" class="hover:text-yellow-300">Experiencia</a></li>
        <li><a href="/#C-Proyectos"  class="hover:text-yellow-300">Proyectos</a></li>
    <li> <a href="/public/Currículum Vitae-AndresDaniel.pdf" download class="hover:text-yellow-300">CV</a> </li>


    </ul>
</nav>

<style>
    button{
        transition: all 0.1s ease-in-out;


    }



</style>