---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="El mejor Portafolio web " />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://portafolio-web-fawn.vercel.app/">
    <meta property="og:type" content="website">
    <meta property="og:title" content=" Home | Andres Velasquez ">
    <meta property="og:description" content="El mejor Portafolio web ">
    <meta property="og:image" content="https://res.cloudinary.com/dleem7osr/image/upload/v1743361655/PortadaPortafolio_xhpxj2.webp">
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="portafolio-web-fawn.vercel.app">
    <meta property="twitter:url" content="https://portafolio-web-fawn.vercel.app/">
    <meta name="twitter:title" content=" Home | Andres Velasquez ">
    <meta name="twitter:description" content="El mejor Portafolio web ">
    <meta name="twitter:image" content="https://res.cloudinary.com/dleem7osr/image/upload/v1743361655/PortadaPortafolio_xhpxj2.webp">
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>

  <style is:global>
    body {
      background: linear-gradient(60deg, #181832, #080852);
      font-family: "Montserrat", sans-serif;
    }
  </style>
</html>
