---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<bodyn  >
		<slot />
	</bodyn>
</html>
<style is:global>
	body {
	background : linear-gradient(60deg, #181832, #080852);
	
}


</style>
